form {
    border: 1px solid grey;
    padding: 10px 5px 20px;
}


.min-max {
    width:60px;
    padding:0px;
}


select {
    width: 100%;
}
.sub-filter option:first-child {
    background-color: cyan;
}

.sub-filter select{
    padding: 5px;
    border-radius: 10px;
}

#main-content {
    height: 40vw;
    overflow-y: auto;
}

img:hover {
    opacity: 0.8;
}